<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta name="format-detection" content="telephone=no">
<title>Find Cars Owner</title>

<link rel="stylesheet" href="<{$Think.config.Css}>jquery.mobile.structure-1.4.2.min.css?<?php echo C('VERSION_JSCSS')?>">
<!-- <link rel="stylesheet" href="<{$Think.config.Css}>jquery.mobile.theme-1.4.5.css?<?php echo C('VERSION_JSCSS')?>"> --> 
<link rel="stylesheet" href="<{$Think.config.Css}>jquery.mobile-1.4.2.css?<?php echo C('VERSION_JSCSS')?>">

<script src="<{$Think.config.Js}>jquery-1.10.2.min.js?<?php echo C('VERSION_JSCSS')?>"></script>
<script src="<{$Think.config.Js}>jqueryMobile1.4/jquery.mobile-1.4.2.min.js?<?php echo C('VERSION_JSCSS')?>"></script>
<!-- <script src="<{$Think.config.Js}>jquery.validate.min.js?<?php echo C('VERSION_JSCSS')?>"></script> -->
<!--<script src="__JS__/defined.js?<?php echo C('VERSION_JSCSS')?>"></script>-->
<script src="__JS__/common.js?<?php echo C('VERSION_JSCSS')?>"></script> 
</head>
