@charset "utf-8";
.nonumber{font-size:13px; color:#908989; height:20px; line-height:20px; margin-top:2px; padding-bottom:2px; padding-left:6px;font-family:'黑体';}
.havenumber{height:0px; line-height:0px; margin-top:8px; }

/**/

.panel-top{
	margin-top: 50%;
}
.ui-panel{
  width: 12em;
}
.ui-panel-dismiss-open.ui-panel-dismiss-position-right{
  right: 12em;
}
.ui-panel-inner{
	padding:2em;
}
.panel-top-header{
  margin-left: 12%;
}
.panel-top-header img{
  width: 100px;
  height: 100px;
  margin-bottom:12px;
}
.Ind-circle{
  border-radius: 60px;
}

.panel-center-top-tel{
  font-size: 20px;
  text-align: center;
  color: #888888;
}
.panel-content{
	line-height: 40px;
}
.panel-center-top-tel img{
  width: 40px;
  height: 30px;
  vertical-align: middle;
  margin: 14px 20px 0 32px;
}
