<!DOCTYPE html>
<html>
<head>
	<title>Page Title</title>
	<meta name="viewport"	content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<{$Think.config.Css}>jquery.mobile-1.4.2.min.css" />
	<script src="<{$Think.config.Js}>jquery-1.10.2.min.js"></script>
	<script src="<{$Think.config.Js}>jqueryMobile1.4/jquery.mobile-1.4.2.min.js"></script>
	<style>
	
	</style>
</head>
<body>

<div data-role="page" id="foo">
	<div data-role="header" data-theme="b">
		<h1>Index</h1>
		 <a href="__URL__/index" data-rel="back" data-icon="carat-l" data-iconpos="notext">Back</a>
        <a href="#" onclick="window.location.reload()" data-icon="back" data-iconpos="notext">Refresh</a>
	</div><!-- /header-->
	<div data-role="main" class="ui-content">
		<ul id="list" class="touch" data-role="listview" data-icon="false" data-split-icon="delete">
			<li>
				<a href="#">
					<h3>Avery Walker</h3>
					<p class="topic"><strong>Re: Dinner Tonight</strong></p>
					<p>Sure, let's plan on meeting at Highland Kitchen at 8:00 tonight. Can't wait! </p>
					<p class="ui-li-aside"><strong>4:48</strong>PM</p>
				</a>
				<a href="#" class="delete">Delete</a>
			</li>
			<li>
				<a href="#">
					<h3>Avery Walker</h3>
					<p class="topic"><strong>Re: Dinner Tonight</strong></p>
					<p>Sure, let's plan on meeting at Highland Kitchen at 8:00 tonight. Can't wait! </p>
					<p class="ui-li-aside"><strong>4:48</strong>PM</p>
				</a>
				<a href="#" class="delete">Delete</a>
			</li>
			<li>
				<a href="#">
					<h3>Avery Walker</h3>
					<p class="topic"><strong>Re: Dinner Tonight</strong></p>
					<p>Sure, let's plan on meeting at Highland Kitchen at 8:00 tonight. Can't wait! </p>
					<p class="ui-li-aside"><strong>4:48</strong>PM</p>
				</a>
				<a href="#" class="delete">Delete</a>
			</li>
			<li>
				<a href="#">
					<h3>Avery Walker</h3>
					<p class="topic"><strong>Re: Dinner Tonight</strong></p>
					<p>Sure, let's plan on meeting at Highland Kitchen at 8:00 tonight. Can't wait! </p>
					<p class="ui-li-aside"><strong>4:48</strong>PM</p>
				</a>
				<a href="#" class="delete">Delete</a>
			</li>
			<li>
				<a href="#">
					<h3>Avery Walker</h3>
					<p class="topic"><strong>Re: Dinner Tonight</strong></p>
					<p>Sure, let's plan on meeting at Highland Kitchen at 8:00 tonight. Can't wait! </p>
					<p class="ui-li-aside"><strong>4:48</strong>PM</p>
				</a>
				<a href="#" class="delete">Delete</a>
			</li>
	</div>
	
</div><!-- /page -->


<script></script>

</body>
</html>